#content {
    max-width: 1080px;
    margin: 0 auto;
    background-color: rgb(189, 184, 160);
    border-radius: 10px;
}
h1 {
    color: white;
    text-align: center;
    background-color: grey;
    height: 1.2em;
    box-shadow: 4px 4px 4px white;
    padding: 20px;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    border-radius: 10px;
}
main {
    display: grid;
    grid-template-columns: lfr;
    font-size: 0.8rem;
}
.leftcol, .rightcol {
    max-width: 48%;
    flex: 1 0 15em;
    padding: 10px;
}
footer {
    background-color: grey;
    padding: 1px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px white;
    line-height: 0.5em;
}
#info {
    color: white;
    font-size: 18px;
    text-align: center;
}
#update {
    color: yellow;
    text-align: center;
}
