#content {
    max-width: 960px;
    margin: 0 auto;
}
h1 {
    color: white;

}
header, footer {
    background-color: blueviolet;
} 
#profile {
    width: 200px;
    height: 200px;
    border-radius: 3px;
    box-shadow: 4px 4px 4px black;
}
#info {
    color: white;
    font-size: 18px;
}